{% extends "./base.njk" %}

{% block header %}
  {% include "partials/nav.njk" %}
{% endblock %}

{% block container %}
  <section class="">
    <article class="f7 lh-copy nested-img nested-links nested-code nested-headlines nested-copy-letter-spacing nested-measure-wide
    nested-text-margin mh5 mh6-l">

      {{ super() }}

    </article>
  </section>

{% endblock %}
